.icon32#mcore-logo {
	background: url('images/mcore-logo.png') no-repeat center;
}

.mcore-url {
	display:inline-block;
	font-weight: 500;
	color: #3f576f;
	font-size: 16px;
	background: #f1f5f9 !important;
	border: 1px solid #b8c5d1 !important;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	text-shadow: 0 1px 0 #fff;
	padding: 8px 14px;
	margin-left: 20px;
}

.new-mcore-url {
	margin-left: 10px;
}